.create-class-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-class-form {
  background-color: #15172b;
  margin: 2rem auto;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 25px 10px;
  max-width: 420px;
  width: 100%;
}

.uploaded-image {
  margin-bottom: 2rem;
  max-width: 80%;
}

.done {
  position: absolute;
  right: 50px;
  top: 3px;
}

textarea {
  height: fit-content !important;
}

form.update-class {
  max-width: 100% !important;
  height: 100% !important;
  // height: 1200px !important;
  margin-bottom: 50px;
}
input[type='image'] {
  max-width: 60%;
}

.update-class-description {
  height: 400px !important;
}

.input-container-image {
  height: fit-content !important;
}