.create-class-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.create-class-form {
    background-color: #15172b;
    margin: 2rem auto;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 25px 10px;
    max-width: 420px;
    width: 100%;
}
.uploaded-image {
    margin-bottom: 2rem;
    max-width: 80%;
}
.done {
    position: absolute;
    right: 50px;
    top: 3px;
}
