.create-user-form {
    background-color: #15172b;
    margin: 2rem auto;
    border-radius: 20px;
    box-sizing: border-box;
    // height: 500px;
    padding: 25px 10px;
    max-width: 420px;
    width: 100%;
}
.create-user-btn {
    padding: .6rem 1rem;
}

.login-text {
    display: block !important;
    text-align: left !important;
    width: 75% !important;
    margin: .5rem auto !important;
    font-size: .8rem !important;
}
.create-user-input {
    margin: 4rem 0 2.5rem !important;
}

.create-password {
    display: block;
    position: absolute;
    right: 40px;
    width: 120px;
    bottom: 0px;
    height: 40px;
    font-size: 0.8rem !important;
    padding: 0.2rem 0.4rem !important;
}

// .pass-input {
//     display: inline-block;
// }