.admin-links {
    margin: 2rem auto;
    width: 70%;
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    li {
        display: inline;
        padding-left: 1rem;
    }
}